# --- Core Django Dependencies ---
Django==5.1.1
djangorestframework==3.16.0
gunicorn==23.0.0
whitenoise==6.7.0

# --- Database Drivers ---
PyMySQL==1.1.1
mysql-connector==2.2.9

# --- Utilities ---
pytz==2025.2
sqlparse==0.5.2
asgiref==3.8.1
Pillow==10.4.0
requests==2.32.3


# --- Optional for API usage ---
python-dotenv==1.1.1
